body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 12%;
}

p {
    font-size: 19px;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    color: white;
    padding: 20px;
}

.sb {
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 20px;
}

.sbb {
    font-size: 15px;
    padding: 10px 50px;
    background-color: #ffffff;
    color: white;
    border: 2px solid white;
    background: rgba(32, 3, 3, 0.078);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    text-decoration: none;
}

.sbb:hover {
    background-color: #ffffff;
    color: #000000;
}

.block {
    margin: 0;
    height: 450px;
    background: rgba(47, 5, 5, 0.163);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.descbox {
    height: 0px;
    justify-content: center;
    width: 25%;
    padding: 20px;
    background: rgba(47, 5, 5, 0);
    color: white;
    border-radius: 10px;
    text-align: justify;
    margin-bottom: 300px;
}
h2 {
    text-align: center;
}
footer p {
    color: #fff;
    text-align: center;
    font-size: 15px;
}